{% extends "general/basel.html" %} {% load crispy_forms_tags %} 
{% block content %}
    <form action="" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        {{ form|crispy }}
        <!-- Repeat for other fields -->
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    {% endblock content %}
    {% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>{% endblock extra_js %}